article.bk-contact
  .view-maxwidth
    h4.title-style Contáctame
    .grid_contact
      .item_contact_date.flex-centerv
        h5.title_date Datos de contacto
        p 
          <i class="fas fa-map-marker-alt"></i>
          | DroitThemes, Mirpur DOHS, Dacca
        p
          <i class="fas fa-envelope"></i>
          | inova.theme@gmail.com
        p 
          <i class="fas fa-phone"></i>
          span
            a(href="") +92548616475
            a(href="") +92548616475
        p
          <i class="fas fa-envelope"></i>
          | www.droitthemes.com
        h5.title_date Sígueme
        .content_redsocial.flex-between
          a(href="") 
            <i class="fab fa-facebook-f"></i>
          a(href="") 
            <i class="fab fa-twitter"></i>
          a(href="") 
            <i class="fab fa-linkedin-in"></i>
          a(href="") 
           <i class="fab fa-youtube"></i>
      .item_contact_form
        div
          label(for="") Nombre
          input(type="text", placeholder="Escriba su nombre")
        div.form_input
          label(for="") Telefono - Celular
          label(for="") Email
          input(type="tel", name="",placeholder="Escribe tu celular")
          input(type="email", name="",placeholder="Escriba su email")
        div
          label(for="") Mensaje
          textarea(name="", cols="30", rows="10", placeholder="Escribe tu mensaje aqui")
        button.btn_submit Enviar mensaje
