@import '../../../styles/abstracts/all';

.bk-about{
  padding: 70px 0;
}
.content_about{
  @include max-width;
  display: grid;
  grid-template-columns: 38% 60%;
  align-items: center;
  // gap: 20px;
}
.title-style{
  display: block;
  &::before{
    width:33% ;
  }
}
.item_atwo{
  line-height: $theight1_8;
  p{
    margin-bottom: 30px;
  }
}
.btn_about{
  @include btn-one;
  padding: 18px 40px;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  &:hover{
    background-color: $white;
    transition: all 0.3s;
    color: $color-prim;
  }
}
.btn_about2{
  @include btn-two;
  padding: 18px 40px;
  font-size: 16px;
  cursor: pointer;
  &:hover{
    color: $white;
    background-color: $color-prim;
    transition: all 0.3s;
  }
}
