article.bk-footer.flex-centerv
  .logo_footer
    | M.
  p.footer_details Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .footer_redsocials.flex-between
    a(href="").flex-centerv
      <i class="fab fa-facebook-f"></i>
    a(href="").flex-centerv
      <i class="fab fa-twitter"></i>
    a(href="").flex-centerv
      <i class="fab fa-linkedin-in"></i>
    a(href="").flex-centerv
      <i class="fab fa-youtube"></i>
  .view-maxwidth.content_copyright
    p
      | Todos los Derechos Reservados Jair Cierto © 2020. #[br]
      | Desarrollado por 
      a(href="#") JosueGS
