header.bk-header
  .bk_desktop
    nav.nav_desktop.flex-between
      a.logo_desktop(href="#") M.

      .desktop_bklinks.flex-between
        a(href="") Inicio
        a(href="") Sobre mi
        a(href="") Servicios
        a(href="") Portafolio
        a(href="") Contacto
        a(href="") Blog

