section.bk-portada
  article.item_portada
    .content-title
      h2 Soy Jair
      p | Freelance Web & Mobile UI/UX 
        | Designer
      button.btn_portada Hire Me
    .portada_img
      img(src="assets/images/portada/hero_img.png", alt="")
