section.grid_des_work
  .item_des_work.flex-centerv
    p Julio 2012 - 2016
    h4 UI / UX Designer
    p Adobe Inc.
    p Lorem ipsum dolor sit amet, coectetur adipisicing elit, sed do eiusmod temp incididunt ut labore.
  .item_des_work.flex-centerv
    p Julio 2012 - 2016
    h4 UI / UX Designer
    p Adobe Inc.
    p Lorem ipsum dolor sit amet, coectetur adipisicing elit, sed do eiusmod temp incididunt ut labore.
  .item_des_work.flex-centerv
    p Julio 2012 - 2016
    h4 UI / UX Designer
    p Adobe Inc.
    p Lorem ipsum dolor sit amet, coectetur adipisicing elit, sed do eiusmod temp incididunt ut labore.