section.bk-services
  .view-maxwidth.flex-centerv
    .content-title-sub
      h2.title-style Servicios
      p.paragraph-sub Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natur
    article.content-services
      .item-services.serv1
        img(src="http://droitthemes.com/wp/mak/wp-content/uploads/2018/09/service_bg.jpg", alt="")
        .content_services.flex-centerv
          <i class="fas fa-mobile-alt"></i>
          h3 UX Research
          p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      .item-services.serv2
        img(src="http://droitthemes.com/wp/mak/wp-content/uploads/2018/09/service_bg.jpg", alt="")
        .content_services.flex-centerv
          <i class="fas fa-mobile-alt"></i>
          h3 UX Research
          p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      .item-services.serv3
        img(src="http://droitthemes.com/wp/mak/wp-content/uploads/2018/09/service_bg.jpg", alt="")
        .content_services.flex-centerv
          <i class="fas fa-mobile-alt"></i>
          h3 UX Research
          p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      .item-services.serv4
        img(src="http://droitthemes.com/wp/mak/wp-content/uploads/2018/09/service_bg.jpg", alt="")
        .content_services.flex-centerv
          <i class="fas fa-mobile-alt"></i>
          h3 UX Research
          p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
