section.content-item_works
  nav.nav_itemlwork.flex-between
    a(href="") Todos
    a(href="") Trabajos 1
    a(href="") Trabajos 2
    a(href="") Trabajos 3
    a(href="") Trabajos 4
  .grid-galery
    .item-imagew.big
      img(src="https://droitthemes.com/wp/mak/wp-content/uploads/2018/10/02-1-570x580.jpg", alt="")
      .content_imagew.flex-centerv
        <i class="fas fa-search"></i>
        h3 Camping Enamel Mug
        p Art, Creative
    .item-imagew
      img(src="https://droitthemes.com/wp/mak/wp-content/uploads/2018/10/01-270x275.jpg", alt="")
      .content_imagew.flex-centerv
        <i class="fas fa-search"></i>
        h3 Camping Enamel Mug
        p Art, Creative
    .item-imagew
      img(src="https://droitthemes.com/wp/mak/wp-content/uploads/2018/10/06-270x275.jpg", alt="")
      .content_imagew.flex-centerv
        <i class="fas fa-search"></i>
        h3 Camping Enamel Mug
        p Art, Creative
    .item-imagew
      img(src="https://droitthemes.com/wp/mak/wp-content/uploads/2018/10/05-270x275.jpg", alt="")
      .content_imagew.flex-centerv
        <i class="fas fa-search"></i>
        h3 Camping Enamel Mug
        p Art, Creative
    .item-imagew
      img(src="https://droitthemes.com/wp/mak/wp-content/uploads/2018/10/07-270x275.jpg", alt="")
      .content_imagew.flex-centerv
        <i class="fas fa-search"></i>
        h3 Camping Enamel Mug
        p Art, Creative
    .item-imagew
      img(src="https://droitthemes.com/wp/mak/wp-content/uploads/2018/10/04-270x275.jpg", alt="")
      .content_imagew.flex-centerv
        <i class="fas fa-search"></i>
        h3 Camping Enamel Mug
        p Art, Creative
    .item-imagew
      img(src="https://droitthemes.com/wp/mak/wp-content/uploads/2018/10/08-270x275.jpg", alt="")
      .content_imagew.flex-centerv
        <i class="fas fa-search"></i>
        h3 Camping Enamel Mug
        p Art, Creative
    .item-imagew.wide
      img(src="https://droitthemes.com/wp/mak/wp-content/uploads/2018/10/latest-work-img-8-1-570x275.jpg", alt="")
      .content_imagew.flex-centerv
        <i class="fas fa-search"></i>
        h3 Camping Enamel Mug
        p Art, Creative
